{% extends "base.html" %}
{% block flash %}
{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" style="text-align: center">
            <strong>{{ message }}</strong></div>
        {% endfor %}
      {% endif %}
    {% endwith %}
{% endblock %}
{% block content %}
    <center><h1>编写培养方案</h1></center>
    <a href="../">返回</a>
    <a href="/dept/{{ thisid }}/addingpre/excelread/">读入表格</a>
    <a href="/dept/{{ thisid }}/addingpre/help/t0/">需要帮助？</a>
{% endblock %}
{% block formtable %}
    <form action="/dept/{{ thisid }}/addingpre/" method="post">
    <center><caption id="login_a"><h2>请输入{{ deptname }}专业要添加的课程</h2></caption></center>
    <center>课程代码:<input type="text" name="t1"><a href="/dept/{{ thisid }}/addingpre/help/t1/">需要帮助？</a><br></center>
        <center>学分:<input type="text" name="t2"><a href="/dept/{{ thisid }}/addingpre/help/t2/">需要帮助？</a><br></center>
        <center>实验学分:<input type="text" name="t3"><a href="/dept/{{ thisid }}/addingpre/help/t3/">需要帮助？</a><br></center>
        <center>课程类型:<input type="text" name="t4"><a href="/dept/{{ thisid }}/addingpre/help/t4/">需要帮助？</a><br></center>
        <center>先修要求:<input type="text" name="t5"><a href="/dept/{{ thisid }}/addingpre/help/t5/">需要帮助？</a><br></center>
        <center>开课系:<input type="text" name="t6"><a href="/dept/{{ thisid }}/addingpre/help/t6/">需要帮助？</a><br></center>
        <center>开课专业是{{ deptname }}专业</center>
        <center>开课季节:<input type="text" name="t8"><a href="/dept/{{ thisid }}/addingpre/help/t8/">需要帮助？</a><br></center>
<center><input type="submit" id="add_button" value="提交" ></center>
</form>
{% endblock %}
{% block table %}
    <center>以下是{{ deptname }}专业的现有课程</center>
    <table class="table table-bordered table-striped" id="thistable">
        <tr>
            <th>课程代码</th>
    <th>课程名称</th>
    <th>学分</th>
    <th>实验学分</th>
    <th>课程类型</th>
    <th>先修要求</th>
    <th>开课系</th>
    <th>开课季节</th>
    <th>操作</th>
    </tr>
        {% for res in course %}
    <tr>
       <td>{{ res[0] }}</td>
        <td>{{ res[1] }}</td>
        <td>{{ res[2] }}</td>
        {% if res[3]==-1 %}<td>没有学分</td>{% else %}<td>{{ res[3] }}</td>{% endif %}
            <td>{{ res[4] }}</td>
        <td>{{ res[5] }}</td>
        <td>{{ res[6] }}</td>
    <td>{{ res[7] }}</td>
        <td><a href="/dept/{{ thisid }}/addingpre/delete/{{ dept }}/{{ res[0] }}">删除</a></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}