<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Courschema System</title>
</head>
<script type="text/javascript">
    {% block script %}
    {% endblock %}
</script>
<style>
    {% block style %}
    {% endblock %}
</style>
<body>
<hr>

{% block flash %}
{% endblock %}
{% block content %}
{% endblock %}
{% block formtable %}
{% endblock %}
{% block formtable2 %}
{% endblock %}
{% block table %}
{% endblock %}
{% block table2 %}
{% endblock %}

</body>
</html>