<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<html>
<!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    var inputFileName
    var mytext = "hahaha"
    var schema_name = ""
    var schema_id = -1
    var major_id = -1
    var intro1 = ""
    var intro2 = ""
    var intro6 = ""
    var enter_must_set = []
    var uni_must_set = []
    var uni_may_set = []
    var pro_abc_set = []
    var pro_core_set = []
    var pro_may_set = []
    var pro_do_set = []
    var course_type = ["enter_must", "uni_must", "uni_may", "pro_abc", "pro_core", "pro_may", "pro_do"]
    window.onload = function () {
        createLeftPanel()
        createRightPanel()
    }

    function createLeftPanel() {
        let major_name =
        {{major_name|tojson}}
        var major_id =
        {{major_id|tojson}}
        var id_set =
        {{id_set|tojson}}
        var name_set =
        {{name_set|tojson}}
        var left_panel = document.getElementById("left_panel");
        for (i in major_name) {
            let card_template = document.getElementById("card_template").cloneNode(true)
            card_template.id = "card" + major_id[i]
            card_template.style.display = ""
            let body = card_template.querySelector(".card-body")
            body.parentElement.id = "mycollapse" + i
            card_template.querySelector(".card-link").innerHTML = major_name[i]
            card_template.querySelector(".card-link").setAttribute("href", "#" + "mycollapse" + i)
            for (j in id_set[i]) {
                let item_template = document.getElementById("card_item_template").cloneNode(true)
                item_template.style.display = ""
                item_template.querySelector('.btn').innerHTML = name_set[i][j]
                item_template.querySelector('.btn').id = "item" + id_set[i][j]
                body.appendChild(item_template)
            }
            left_panel.appendChild(card_template)
        }
    }

    function addItem(major_id, schema_id, schema_name) {
        let item_template = document.getElementById("card_item_template").cloneNode(true)
        item_template.style.display = ""
        item_template.querySelector('.btn').innerHTML = schema_name
        item_template.querySelector('.btn').id = "item" + schema_id
        document.getElementById("card" + major_id).querySelector(".card-body").appendChild(item_template)
    }

    function saveSchema(obj) {
        if (obj == null) return;
        let form = new FormData()
        form.append("id", schema_id)
        form.append("major_id", major_id)
        form.append("name", schema_name)
        form.append("intro1", intro1)
        form.append("intro2", intro2)
        form.append("intro6", intro6)
        form.append("enter_must_set", enter_must_set)
        form.append("uni_must_set", uni_must_set)
        form.append("uni_may_set", uni_must_set)
        form.append("pro_abc_set", uni_must_set)
        form.append("pro_core_set", uni_must_set)
        form.append("pro_may_set", uni_must_set)
        form.append("pro_do_set", uni_must_set)
        $.ajax({
            url: "{{ url_for('saveSchema') }}",
            type: "post",
            data: form,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.hasOwnProperty("success")) {
                    alert("保存成功")
                } else {
                    alert(data["msg"])
                }
            },
            error: function (e) {
                alert("保存成功")
            }
        })
    }

    function ShowNameInput(obj) {
        tmp_major_id = Number(obj.parentElement.parentElement.id.slice(4))
        $("#createFileTitle").text("新建培养方案");
        $('#createFileMModal').modal('show');
        $("#createFileSureBut").click(function () {
            var inputFileName = $("#fileName").val();
            if (inputFileName == "") {
                alert("名称不能为空")
            } else {
                $("#createFileMModal").modal("hide");
                addSchema(tmp_major_id, inputFileName);
            }
        });
    }

    function addSchema(tmp_major_id, tmp_schema_name) {
        let form = new FormData()
        form.append("major_id", tmp_major_id)
        form.append("name", tmp_schema_name)
        $.ajax({
            url: "{{ url_for('addSchema') }}",
            type: "post",
            data: form,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.hasOwnProperty("success")) {
                    tmp_schema_id = data["id"]
                    addItem(tmp_major_id, tmp_schema_id, tmp_schema_name)
                } else {
                    alert(data["msg"])
                }
            },
            error: function (e) {
                alert("error")
            }
        })
    }

    function createRightPanel() {
        createTable("uni_must")
        createTable("uni_may")
        createTable("pro_abc")
        createTable("pro_core")
        createTable("pro_may")
        createTable("pro_do")
    }

    function createTable(name) {
        let nodes = document.getElementById("enter_must").childNodes
        for (var i = 0; i < nodes.length; i++) {
            document.getElementById(name).appendChild(nodes[i].cloneNode(true))

        }
    }

    function getCourseType(inputobj) {//find above to get id
        while (1) {
            for (x in course_type) {
                if (inputobj.id == course_type[x]) {
                    return course_type[x]
                }
            }
            inputobj = inputobj.parentElement
        }
    }

    function getSetByName(name) {
        if (name == "enter_must") {
            return enter_must_set
        }
        if (name == "enter_must") {
            return enter_must_set
        } else if (name == "uni_must") {
            return uni_must_set
        } else if (name == "uni_may") {
            return uni_may_set
        } else if (name == "pro_abc") {
            return pro_abc_set
        } else if (name == "pro_core") {
            return pro_core_set
        } else if (name == "pro_may") {
            return pro_may_set
        } else if (name == "pro_do") {
            return pro_do_set
        }
    }

    function addRow(name, data) {
        let bodyObj = document.getElementById(name).querySelector("tbody")
        bodyObj.style.display = "";
        let rowCnt = bodyObj.rows.length
        let newRow = bodyObj.insertRow(rowCnt++);
        let cellCount = bodyObj.rows[0].cells.length;
        newRow.insertCell(0).innerHTML = data["code"]
        newRow.insertCell(1).innerHTML = data["name"]
        newRow.insertCell(2).innerHTML = data["score"]
        newRow.insertCell(3).innerHTML = data["lab_score"]
        newRow.insertCell(4).innerHTML = data["season"]
        newRow.insertCell(5).innerHTML = data["require"]
        newRow.insertCell(6).innerHTML = bodyObj.rows[0].cells[cellCount - 1].innerHTML
        bodyObj.rows[0].style.display = "none"
    }

    function clearTable(name) {
        let bodyObj = document.getElementById(name).querySelector("tbody")
        for (let i = bodyObj.rows.length - 1; i > 0; i--) {
            bodyObj.deleteRow(i)
        }
    }

    function addCourseToSet(name, code) {
        myset = getSetByName(name)
        myset.push(code)
    }

    function removeCourseFromSet(name, code) {
        myset = getSetByName(name)
        for (var i = 0; i < myset.length; i++) {
            if (myset[i] == code) {
                myset.splice(i, 1)
                return true
            }
        }
        return false
    }

    function onClick(type, inputobj) {
        if (type == "add_course") {
            let code = inputobj.parentElement.querySelectorAll("input")[0].value
            let type_name = getCourseType(inputobj)
            addCourse(type_name, code,true)
        } else if (type == "remove_row") {
            if (inputobj == null) return;
            let parentTD = inputobj.parentNode;
            let parentTR = parentTD.parentNode;
            let parentTBODY = parentTR.parentElement;
            let parentTable = parentTBODY.parentElement
            let parentDiv = parentTable.parentElement;
            let index = parentTR.rowIndex - 1
            let code = parentTBODY.rows[index].cells[0].innerHTML
            parentTBODY.removeChild(parentTR);
        } else if (type == "load_schema") {
            schema_id = Number(inputobj.id.slice(4))
            if (loadSchemaFrom(schema_id)) {
                showSchemaByData()
            } else {
                alert('加载失败')
            }
        }

    }

    function loadSchemaFrom(schema_id) {
        flag=true
        let form = new FormData()
        form.append("id", schema_id)
        $.ajax({
            url: "{{ url_for('querySchema') }}",
            type: "post",
            data: form,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data){
                if (data.hasOwnProperty("success")) {
                    schema_id = data["id"]
                    major_id = data["major_id"]
                    intro1 = data["intro1"]
                    intro2 = data["intro2"]
                    intro6 = data["intro6"]
                    enter_must_set = data['enter_must']
                    uni_must_set = data['uni_must']
                    uni_may_set = data['uni_may']
                    pro_abc_set = data['pro_abc']
                    pro_core_set = data['pro_core']
                    pro_may_set = data['pro_may']
                    pro_do_set = data['pro_do']
                    console.log(enter_must_set)
                    console.log(uni_must_set)
                    console.log(uni_may_set)
                    console.log(pro_abc_set)
                    console.log(pro_core_set)
                    console.log(pro_may_set)
                    console.log(pro_do_set)
                } else {
                    alert(data["msg"])
                    flag=false;
                }
            },
            error: function (e) {
                flag=false;
                alert("error")
            }
        })
        return flag
    }

    function addCourse(type_name, code,error_show,increase) {
        let form = new FormData()
        form.append("code", code)
        $.ajax({
            url: "{{ url_for('queryCourse') }}",
            type: "post",
            data: form,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.hasOwnProperty("success")) {
                    addRow(type_name, data)
                    if(increase){
                        addCourseToSet(type_name, data["code"])
                    }
                    myset = getSetByName(type_name)

                } else {
                    if(error_show){
                         alert(data["msg"])
                    }
                }
            },
            error: function (e) {
                if(error_show){
                    alert("error")
                }

            }
        })
    }

    function updateIntro(inputobj) {
        if ((inputobj.parentElement.parentElement.parentElement.parentElement).id == "intro1_modal") {
            intro1 = document.getElementById("intro1_input").value
            document.getElementById("intro1_text").innerHTML = intro1
        } else if ((inputobj.parentElement.parentElement.parentElement.parentElement).id == "intro2_modal") {
            intro2 = document.getElementById("intro2_input").value
            document.getElementById("intro2_text").innerHTML = intro2
        } else if ((inputobj.parentElement.parentElement.parentElement.parentElement).id == "intro6_modal") {
            intro6 = document.getElementById("intro6_input").value
            document.getElementById("intro6_text").innerHTML = intro6
        }
    }

    function showSchemaByData() {
        //update text
        document.getElementById("intro1_input").value = intro1
        document.getElementById("intro1_text").innerHTML = intro1
        document.getElementById("intro2_input").value = intro2
        document.getElementById("intro2_text").innerHTML = intro2
        document.getElementById("intro6_input").value = intro6
        document.getElementById("intro6_text").innerHTML = intro6
        document.getElementById("schema_id_show").innerHTML = schema_id
        //update form
        clearTable("enter_must")
        for (i in enter_must_set) {
            addCourse("enter_must", enter_must_set[i],false)
        }
        clearTable("uni_must")
        for (i in uni_must_set) {
            addCourse("uni_must", uni_must_set[i],false)
        }
        clearTable("uni_may")
        for (i in uni_may_set) {
            addCourse("uni_may", uni_may_set[i],false)
        }
        clearTable("pro_abc")
        for (i in pro_abc_set) {
            addCourse("pro_abc", pro_abc_set[i],false)
        }
        clearTable("pro_core")

        for (i in pro_core_set) {
            addCourse("pro_core", pro_core_set[i],false)
        }
        clearTable("pro_may")

        for (i in pro_may_set) {
            addCourse("pro_may", pro_may_set[i],false)
        }
        clearTable("pro_do")

        for (i in pro_do_set) {
            addCourse("pro_do", pro_do_set[i],false)
        }
    }
</script>

<div class="row">
    <div class="col-md-2 px-md-0" style="background: darkgrey" id="left_panel">
        <div class="card" style="display: None" id="card_template">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">智能科学与技术</a>&emsp;&emsp;<button
                    type="button" class="btn btn-primary btn-sm" onclick="ShowNameInput(this)">+
            </button>
            </div>
            <div id="collapseOne" class="collapse">
                <div class="card-body">
                    <div id="card_item_template" style="display: None">
                        <button type="button" class="btn"onclick="onClick('load_schema',this)">2017培养方案</button>&emsp;<button type="button"
                                                                                           class="btn btn-warning btn-sm">
                        -
                    </button>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10  px-md-0" style="background: floralwhite" id="right_panel">
        <div>
            <nav class="row-md-2">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#intro_head">前言</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#enter_must">专业先修</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#uni_must">通识必修</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#uni_may">通识选修</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pro_abc">专业基础</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pro_core">专业核心</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pro_may">专业选修</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pro_do_head">专业实践</a>
                        </li>
                    </ul>
                    <a id="schema_id_show"></a>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button type="button" class="btn-sm btn-success"
                                                                onclick="saveSchema(this)">保存
                </button>
                </nav>
            </nav>
            <div class="row-md-10 px-md-4 pt-md-5">
                <div style="height:630px;overflow:auto" id="schema_window" data-spy="scroll"
                     data-target=".navbar" data-offset="400">
                    <div style="text-align:center;">
                        <h2><input size="10" style="height:35px;font-size:30px;">本科人才培养方案</input> </h2>
                    </div>
                    <h4 id="intro_head">一、系部专业介绍
                        <button type="button" class="btn-primary btn-sm" data-toggle="modal"
                                data-target="#intro1_modal">
                            +
                        </button>
                    </h4>
                    <p id="intro1_text"></p>
                    <!-- 模态框 -->
                    <div class="modal fade" id="intro1_modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h4 class="modal-title">系部专业介绍</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- 模态框主体 -->
                                <div class="modal-body">
                                    <textarea rows="15" cols="60" id="intro1_input"></textarea>
                                </div>
                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            onclick="updateIntro(this)">确定
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>


                    <br>
                    <hr>
                    <h4>二、专业培养目标及培养要求
                        <button type="button" class="btn-primary btn-sm" data-toggle="modal"
                                data-target="#intro2_modal">
                            +
                        </button>
                    </h4>
                    <p id="intro2_text"></p>
                    <div class="modal fade" id="intro2_modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h4 class="modal-title">系部专业介绍</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- 模态框主体 -->
                                <div class="modal-body">
                                    <textarea rows="15" cols="60" id="intro2_input"></textarea>
                                </div>
                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            onclick="updateIntro(this)">确定
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <br>
                    <hr>
                    <h4>三、学制、授予学位及毕业学分要求(自动生成)</h4>
                    <br>
                    <hr>
                    <h4>四、专业类及专业代码(自动生成)</h4>
                    <br>
                    <hr>
                    <h4>五、专业主要（干）课程(自动生成)</h4>
                    <br>
                    <hr>
                    <h4>六、主要实践性教学环节
                        <button type="button" class="btn-primary btn-sm" data-toggle="modal"
                                data-target="#intro6_modal">
                            +
                        </button>
                    </h4>

                    <p id="intro6_text"></p>
                    <div class="modal fade" id="intro6_modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h4 class="modal-title">系部专业介绍</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- 模态框主体 -->
                                <div class="modal-body">
                                    <textarea rows="15" cols="60" id="intro6_input"></textarea>
                                </div>
                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            onclick="updateIntro(this)">确定
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <h4>七、进入专业前应修读完成课程的要求</h4>
                    <div id="enter_must">
                        <button type="button" class="btn-primary btn-sm" onclick="onClick('add_course',this)">+</button>
                        <input value=""></input><br>
                        <table border="1" cellpadding="10" cellspacing="5">
                            <thead>
                            <tr>
                                <th>课程编号</th>
                                <th>课程名称</th>
                                <th>学分</th>
                                <th>其中实验学分</th>
                                <th>开课学期</th>
                                <th>先修课程</th>
                                <th>移除</th>
                            </tr>
                            </thead>
                            <tbody style="display: none">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="button" value="删除" onclick="onClick('remove_row',this)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <hr>
                    <h4>八、通识必修课程教学修读要求</h4>
                    <div id="uni_must">
                    </div>
                    <br>
                    <hr>
                    <h4>九、通识选修课程修读要求</h4>
                    <div id="uni_may">
                    </div>
                    <br>
                    <hr>
                    <h4>十、专业课程教学安排一览表</h4>
                    <h6>专业基础课</h6>
                    <div id="pro_abc">
                    </div>
                    <br>
                    <hr>
                    <h6>专业核心课</h6>
                    <div id="pro_core">
                    </div>
                    <br>
                    <hr>
                    <h6>专业选修课</h6>
                    <div id="pro_may">
                    </div>
                    <br>
                    <hr>
                    <h6>专业实践课</h6>
                    <div id="pro_do">
                    </div>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createFileMModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createFileTitle">创建培养方案</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="fileName" class="col-form-label">名称</label>
                        <input type="text" autofocus class="form-control" id="fileName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="createFileSureBut">确定</button>
            </div>
        </div>
    </div>
</div>

</html>
